
/**************************页面通用样式*****************************/
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "微软雅黑", arial;
    -webkit-tap-highlight-color:transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}
html{
    -webkit-user-select: none;
}
ul,ol,dl{
    list-style: none;
}
.clearfix:after{
    content: '\020';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    font-size: 0;
}
/*页面头部*/
.page-header{
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #fff;
    background: #242021;
    font-size: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.page-header .common-back{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    line-height: 50px;
    padding: 0 20px;
    font-size: 14px;
}
.page-title{
    font-size: 20px;
    font-weight: normal;
}

.common-em-color{
    color: #44a0ff;
}
.common-em-bg{
    background-color: #44a0ff;
}
.common-split-border{
    border: 0 solid #dcdcdc;
}
.common-page-bg{
    background-color: #ebebeb;
}
.common-hoverable-item{
    background-color: #fff;
}
.common-hoverable-item:hover{
    background-color: #f5f5f5;
}
/*通用向右箭头*/
.right-arrow{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 1px solid #666;
    -webkit-transform: rotate(32deg);
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -5px;
}
.right-arrow:after{
    content: '\020';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background: #666;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(15deg);
}
.arrow-parent:hover .right-arrow{
    border-top-color: #44a0ff;
}
.arrow-parent:hover .right-arrow:after{
    background: #44a0ff;
}

#main-wrap{
    padding-top: 50px;
}


/*******************************页面相关样式***********************************/
/*menu btn*/
.show-menu-btn{
    position: absolute;
    right: 0;
    height: 100%;
    padding: 0 20px;
    font-size: 17px;
    color: #44a0ff;
}
/*搜索框入口*/
.search-entrance-wrap{
    height: 32px;
    background: #fff;
    text-align: center;
    margin: 9px;
}
.search-entrance-text{
    display: inline-block;
    height: 100%;
    line-height: 32px;
    font-size: 14px;
    color: #535862;
    padding-left: 30px;
    background: url('./assets/main_portal_search_icon.png') no-repeat left center;
    background-size: 16px 16px;
}

/*书籍列表区域*/
#book-list-con{
    border-top-width: 1px;
}
.book-item{
    width: 50%;
    height: 182px;
    position: relative;
    float: left;
    border-bottom-width: 1px;
    overflow: hidden;
}
.book-item:nth-child(odd){
    border-right-width: 1px;
}
.download-mask{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    -webkit-transform: translate3d(0,100%,0);
    /*-webkit-transition: all .5s ease-out;*/
    background: rgba(0,0,0,.4);
}
.download-progress{
    position: absolute;
    height: 20px;
    line-height: 20px;
    width: 90%;
    text-align: center;
    top: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    background: #4c4947;
    left: 50%;
}
.download-progress-inner{
    background: #44a0ff;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}
.download-progress-text{
    text-align: center;
    color: #fff;
    font-size: 14px;
    position: relative;
    z-index: 3;
}
.book-downloading .download-mask{
    -webkit-transform: translate3d(0,0,0);
}
.book-item img{
    width: 90px;
    height: 94px;
    display: block;
    margin: 26px auto 0;
}
.book-name-wrap{
    margin: 12px 12px 0;
    text-align: center;
    line-height: 16px;
    max-height: 32px;
    overflow: hidden;
    color: #535862;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sub-book-name-wrap{
    margin: 5px 12px 0;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #807972;
    font-size: 12px;
}
.sub-book-name-wrap strong{
    font-weight: bold;
    color: #535862;
}
.book-item-not-ready, .book-can-download{
    background: #f0f0f0 !important;
}
.book-item-not-ready img, .book-can-download img{
    opacity: .2;
}
.book-item-not-ready .book-name-wrap{
    color: #aaa;
}
.download-arrow{
    display: none;
    position: absolute;
    top: 26px;
    background: url('./assets/download_arrow.png') no-repeat center center;
    background-size: 42px 42px;
    width: 94px;
    height: 94px;
    left: 50%;
    -webkit-transform: translate3d(-50%,0,0);
}
.book-can-download .download-arrow{
    display: block;
}
.book-downloading .download-arrow{
    display: none;
}
/*书籍有更新*/
.update-indicator-wrap{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 18px solid transparent;
    border-color: #44a0ff #44a0ff transparent transparent;
}
.update-indicator-text{
    color: #fff;
    position: absolute;
    font-size: 12px;
    top: -15px;
    right: -15px;
    -webkit-transform: rotateZ(45deg);
}
/*更多*/
.more-indicator{
    text-align: center;
    margin: 30px 0;
    color: #8c929f;
}