
/**************************页面通用样式*****************************/
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "微软雅黑", arial;
    -webkit-tap-highlight-color:transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}
html{
    -webkit-user-select: none;
}
ul,ol,dl{
    list-style: none;
}
.clearfix:after{
    content: '\020';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    font-size: 0;
}
.flexbox{
    display: -webkit-box;
    display: -webkit-flexbox;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
}
.flexbox-horizontal{
    display: -webkit-box;
    display: -webkit-flexbox;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
}
/*页面头部*/
.page-header{
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #fff;
    background: #242021;
    font-size: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.page-header .common-back{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    line-height: 50px;
    padding: 0 20px;
    font-size: 14px;
}
.page-title{
    font-size: 20px;
    font-weight: normal;
}

.common-em-color{
    color: #44a0ff;
}
.common-em-bg{
    background-color: #44a0ff;
}
.common-split-border{
    border: 0 solid #dcdcdc;
}
.common-page-bg{
    background-color: #ebebeb;
}
.common-hoverable-item{
    background-color: #fff;
}
.common-hoverable-item:hover{
    background-color: #f5f5f5;
}
/*通用向右箭头*/
.right-arrow{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 1px solid #666;
    -webkit-transform: rotate(32deg);
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -5px;
}
.right-arrow:after{
    content: '\020';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background: #666;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(15deg);
}
.arrow-parent:hover .right-arrow{
    border-top-color: #44a0ff;
}
.arrow-parent:hover .right-arrow:after{
    background: #44a0ff;
}

#main-wrap{
    padding-top: 50px;
}
.in-iphone4{
    padding-bottom: 90px;
}
body{
    opacity: 0;
    -webkit-transition: opacity .2s ease-in .2s;
}
.page-ready{
    opacity: 1;
}

/***********************************页面本身样式********************************/
.knowledge-detail-page{
    background-color: #f9f8ef;
}
/*topic列表区域*/
.topic-nav-con{
    background: #372f30;
}
.nav-topic-item{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    height: 52px;
    line-height: 52px;
    color: #999;
    font-size: 16px;
    text-align: center;
}
.nav-topic-item-selected{
    background: #483e3f;
    color: #44a0ff;
    border-bottom: 2px solid #44a0ff;
}
/*顶部前后知识点切换，显示当前知识点*/
#knowledge-switch-con{
    height: 88px;
    position: relative;
    overflow: hidden;
    padding: 0 38px;
    background: #fff;
}
.current-knowledge-indicator{
    font-size: 14px;
    color: #444343;
    line-height: 20px;
    max-height: 60px;
    overflow: hidden;
    position: absolute;
    left: 38px;
    right: 38px;
    top: 50%;
    -webkit-transform: translate3d(0,-50%,0);
}
.knowledge-switch-btn{
    position: absolute;
    top: 0;
    height: 100%;
    width: 38px;
}
.knowledge-switch-pre{
    left: 0;
    background: url('./assets/knowledge_switch_arrow_pre.png') no-repeat center center;
    background-size: 12px 24px;
}
.knowledge-switch-next{
    right: 0;
    background: url('./assets/knowledge_switch_arrow_next.png') no-repeat center center;
    background-size: 12px 24px;
}

/*******知识点详情渲染区域******/
#topic-detail-con{
    padding: 0 0 80px 0;
    border-top-width: 1px;
}
.knowledge-section{
    border-bottom-width: 1px;
    padding: 16px 0px 16px 0;
}
.knowledge-section .knowledge-section-title{
    font: bold 16px "微软雅黑";
    color: #333;
    border-left: 6px solid #44a0ff;
    margin: 0 0 0 8px;
    padding: 0 0 0 5px;
}
.knowledge-section-content{
    padding: 10px 20px 0;
    line-height: 24px;
    color: #535862;
}
/*知识点详细描述*/
.knowledge-desc-wrap .knowledge-section-content{

}
/*微课*/
.weike-img{
    display: block;
    margin: 0 auto;
    border: 0 none;
}
.weike-img:hover{
    opacity: .85;
}

/*做练习按钮*/
#go-exercise-btn{
    background: #44a0ff;
    color: #fff;
    text-align: center;
    margin: 20px auto;
    width: 75%;
    height: 44px;
    font: normal 18px/44px "微软雅黑", arial;
    border-radius: 2px;
    display: none;
}
